a {font-family:Allembert�,Times,serif;font-size:23px;cursor: auto}
a:link {color:white;text-decoration: none;}
a:visited {color: #F433FF;}
a:hover {text-decoration: none; color: #F433FF; font-weight:bold;font-family:Allembert�}
a:active {color: #F433FF;text-decoration: none}

.coursesDetail li{
    font-size:20px;
    font-family:BlackChancery;
    color:white;
}