a {font-family:Allembert�,Times,serif;font-size:23px;cursor: auto}
a:link {color:white;text-decoration: none;}
a:visited {color: #F433FF;}
a:hover {text-decoration: none; color: #F433FF; font-weight:bold;font-family:Allembert�}
a:active {color: #F433FF;text-decoration: none}

.coursesDetail li{
    font-size:20px;
    font-family:BlackChancery;
    color:white;
}

.facilities_a{
    font-family:Allembert™,Times,serif;
    font-size:23px;
    cursor: auto;
    a:active {color: #E55B3C;text-decoration: none}
}

.facilities_a:link{
    color:white;
    text-decoration: none;
}

.facilities_a:visited{
    color: white;
}

.facilities_a:hover{
    text-decoration: none;
     color: #E55B3C; 
     font-weight:bold;
     font-family:Allembert™;
}

.facilities_a:active{
    color:#E55B3C;
    text-decoration: none;
}